@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,700;1,700&family=Lemonada:wght@600;700&display=swap");

:root {
  --main-bg: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
  --bg-line: #f4b436;
  --shadow-line: #eeec7b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  overflow: hidden;
  font-family: "lemonada", cursive;
}

.flex {
  display: flex;
}

.ramadan {
  height: 300px;
  text-align: center;
  color: #fff;
}
.ramadan h1 {
  font-size: 6rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 0px #131211, 1px 2px 0px #242423, 2px 5px 2px #171717;
  position: relative;
  z-index: 0;
}
.ramadan h2 {
  font-size: 3.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 0px #3e2a02, 1px 2px 0px #f4e0cb, 2px 5px 2px #2b1501;
  color: #ea9850;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin-top: -20px;
}
@media (max-width: 767px) {
  .ramadan h1 {
    font-size: 3rem;
  }
  .ramadan h2 {
    font-size: 2rem;
    margin-top: 0px;
  }
}

#lineContainer {
  border-top: 2px solid var(--bg-line);
  display: flex;
  position: relative;
  justify-content: space-around;
}

.zina-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
  display: flex;
}

.fanos {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  position: relative;
  transform: rotate(0deg);
  transform-origin: top;
  animation: rote 1.5s ease-in-out alternate infinite;
}

.line {
  height: 40px;
  width: 1px;
  background-color: var(--bg-line);
  margin: 0 auto;
}
.fanos-head-line {
  border-radius: 23px;
  background-color: var(--bg-line);
  width: 7px;
  height: 10px;
  margin: 0 auto;
}

.fanos-head .flex > div {
  height: 25px;
  background-color: #ea9a60;
  margin-top: -2px;
  width: 20px;
}

.fanos-head-left {
  border-radius: 15px 0 0 10px;
}
.fanos-head-right {
  border-radius: 0 15px 10px 0px;
}

.fanos-body {
  display: flex;
  height: 35px;
  background-color: #fde37b;
  margin-top: -3px;
  width: 34px;
  margin: 0 auto;
  margin-top: -3px;
  justify-content: space-around;
  gap: 3px;
  padding: 3px;
  z-index: 2;
  box-shadow: 0 0 38px #fddd93;
}
.fanos-body div {
  background-color: #a67e54;
  height: 100%;
  width: 25%;
  border-radius: 10px;
  box-shadow: 0 0 1px 3px #fddd93;
}
.fanos-body div .center {
  width: 45%;
  flex: 1;
}

.fanos-footer .fanos-head-left {
  border-radius: 13px 0 0 30px;
}
.fanos-footer .fanos-head-right {
  border-radius: 0 13px 30px 0px;
}

.fanos-footer .fanos-head-line {
  border-radius: 23px;
  background-color: var(--bg-line);

  width: 7px;
  height: 10px;
  margin: -5px auto 0;
}

/* Fanos Animation */
@keyframes rote {
  0% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

.zina {
  height: 40px;
  width: 40px;
  clip-path: polygon(25px 30px, 0px 0px, 35px 0);
  transform-origin: top;
  animation: moving 2s ease-in-out alternate infinite;
}

/* Zina Animation */
@keyframes moving {
  0% {
    clip-path: polygon(0px 30px, 0px 0px, 35px 0);
  }
  100% {
    clip-path: polygon(18px 30px, 0px 0px, 35px 0);
  }
}

.star,
.star-2 {
  width: 14px;
  height: 14px;
  position: relative;
  background-color: var(--bg-line);
  box-shadow: 0 0 5px var(--shadow-line);
  transform-origin: top;
  animation: moveSlow 1.5s ease-in-out alternate infinite;
  margin: 10px 5px 0;
}
.star::before,
.star::after,
.star-2::before,
.star-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  box-shadow: 0 0 5px var(--shadow-line);
}
.star::before,
.star-2::before {
  top: -11px;
  width: 1px;
  left: 50%;
  background-color: #eeb13b;
}
.star::after,
.star-2::after {
  transform: rotate(45deg);
  background-color: #f0cd42;
}

.star-2:before {
  height: 50px;
}
.star-2:after {
  top: 30px;
}

.moon {
  height: 70px;
  width: 1px;
  background-color: #fff;
  box-shadow: -13px -2px 1px -2px var(--bg-line) inset;
  position: relative;
  margin-right: 20px;
  transform-origin: top;
  animation: moveSlow 1.5s ease-in-out alternate infinite;
}
.moon::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #222;
  border-radius: 50%;
  box-shadow: 13px -6px 1px -1px #fddf68 inset;
  margin-top: 40px;
  left: -8px;
  transform: rotate(0deg);
  bottom: -15px;
}

.lighten {
  position: relative;
  width: 2px;
  height: 40px;
  margin: 0 20px;
  background-color: #fff;
  box-shadow: 0 0 9px #eeb13b;
  border-radius: 2px;
  transform-origin: top;
  animation: moveSlow 1.5s ease-in-out alternate infinite;
}
.lighten::before,
.lighten::after {
  content: "";
  position: absolute;
  height: 15px;
  width: 14px;
  box-shadow: 0 0 9px #eeb13b;
  background-color: #fff;
  border-radius: 15px;
}
.lighten::before {
  top: 10px;
  transform: rotate(7deg);
  border-radius: 5px 15px 15px 10px;
}
.lighten::after {
  bottom: -4px;
  margin-left: -13px;
  transform: rotate(-7deg);
  border-radius: 15px 5px 10px 15px;
}

@keyframes moveSlow {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
